html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background-color: #000;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
/* preloader */

.preloader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #fff;
	z-index: 1000;
	transition: all 0.09s ease-out;
}

.preloader--hide {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.preloader__loader,
.preloader__percents {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.preloader__percents {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

@keyframes ldio-zgxx64th47 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.ldio-zgxx64th47 div {
	position: absolute;
	width: 150px;
	height: 150px;
	border: 10px solid #2823ca;
	border-top-color: transparent;
	border-radius: 50%;
}

.ldio-zgxx64th47 div {
	animation: ldio-zgxx64th47 1s linear infinite;
	top: 100px;
	left: 100px;
}

.loadingio-spinner-rolling-wopxwk46ahe {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: rgba(241, 242, 243, 0);
}

.ldio-zgxx64th47 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}

.ldio-zgxx64th47 div {
	box-sizing: content-box;
}
/*    */
@media (min-width: 375px) {
	/* main page */
	/* main page */
	/* main page */
	.container {
		margin: 0 auto;
		padding: 0 26px;
	}
	.header {
		z-index: 10;
		position: fixed;
		top: 0;
		width: 100%;
		padding-top: 27px;
		background: linear-gradient(180deg, #000 90%, rgba(0, 0, 0, 0) 100%);
		padding-bottom: 15px;
	}
	.header__inner {
		display: flex;
		flex-direction: column;
	}
	.header__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 27px;
	}
	.header__box {
		display: flex;
		align-items: center;
	}
	.header__img {
		width: 35px;
		height: 13px;
		margin-right: 7px;
	}
	.header__text {
		color: #fff;
		font-size: 14px;
	}
	.header__info {
		width: 57px;
		padding: 3px 8px;
		border: 1px solid #686868;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 11px;
	}
	.header__info--box {
		display: flex;
		align-items: center;
	}
	.header__info-text {
		color: #686868;
	}
	.header__info-text--green {
		color: #00ff38;
	}
	.header__info-img {
		max-width: 10px;
		margin-right: 3px;
	}
	.boorger {
		float: right;
		margin-left: 12px;
	}
	.boorger a {
		display: inline-block;
		position: relative;
		z-index: 100;
		width: 20px;
		height: 20px;
	}
	.boorger a span {
		display: block;
		transition: all 0.4s;
		width: 100%;
		height: 1px;
		margin-top: 5px;
		background-color: #fff;
	}
	.header__list {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.9);
		width: 100%;
		height: 100vh;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -200vh;
		transition: all 0.5s;
	}
	.boorger a.active span:nth-child(1) {
		transform-origin: left top;
		transform: rotate(45deg);
		margin-top: 3px;
	}
	.boorger a.active span:nth-child(2) {
		transform-origin: left bottom;
		transform: rotate(-45deg);
		margin: 13px 0;
	}
	.header__list.active {
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 5;
	}
	.header__list-item {
		display: block;
		position: relative;
		font-size: 18px;
		color: #fff;
		margin-bottom: 20px;
		overflow: hidden;
		transition: all 0.4s;
		padding-bottom: 5px;
	}
	.header__list-item::before {
		content: '';
		display: inline-block;
		height: 2px;
		background-color: #fff;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: -100%;
		transition: all 0.4s;
	}
	.header__list-item:hover::before {
		left: 0;
	}
	.form__inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.form__input {
		width: 66px;
		height: 28.548px;
		border-radius: 66px;
		border: none;
		background: #272727;
		color: #fff;
		text-align: center;
		margin-right: 5px;
		font-size: 11px;
	}
	.form__input::placeholder {
		color: #fff;
		font-size: 11px;
	}
	.form__img {
		margin-right: 5px;
	}
	.form__select {
		font-family: 'Lato', sans-serif;
		width: 125px;
		height: 29px;
		font-size: 11px;
		border-radius: 66px;
		background: #272727;
		color: #fff;
		padding: 7px 12px;
		border: none;
		outline: none;
		display: inline-block;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-right: 10px;
	}
	.form__btn {
		border: none;
		width: 36px;
		height: 29px;
		background-color: #0047ff;
		border-radius: 30px;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
		cursor: pointer;
	}
	.form__img--2 {
		margin: 0;
	}
	.form__btn:hover {
		background-color: #002890;
	}
	.general {
		color: #fff;
		border-radius: 26px 26px 37px 37px;
		background: linear-gradient(180deg, #1b1a1a 0%, rgba(45, 45, 45, 0) 36.46%);
		padding: 16px 0;
		margin: 0 12px;
		max-width: 365px;
		width: 100%;
	}
	.general__inner {
		margin-bottom: 15px;
		position: relative;
	}
	.general--main {
		margin-bottom: 15px;
	}
	.general__inner::after,
	.general__inner::before {
		content: '';
		position: absolute;
		width: 12px;
		height: 1px;
		background-color: #686868;
		top: 8px;
		right: 5px;
	}
	.general__inner::before {
		transform: rotate(40deg);
		right: 14px;
	}
	.general__inner::after {
		transform: rotate(-40deg);
	}
	.general__inner.active::before {
		transform: rotate(-40deg);
	}
	.general__inner.active::after {
		transform: rotate(40deg);
	}
	.general__title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	.general__box--visible {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 4;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		grid-gap: 6px;
		font-weight: 600;
	}
	.general__box {
		display: none;
	}
	.general__box.active {
		display: grid !important;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 4;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		grid-gap: 6px;
		font-weight: 600;
	}
	.general__box-content {
		color: #959595;
		width: 80px;
		height: 35px;
		border-radius: 10px;
		font-size: 13px;
		padding: 4px 7px;
		background: #272727;
		position: relative;
	}
	.general__lead {
		grid-area: 1 / 1 / 3 / 2;
		width: 101px;
		height: 86px;
		background: url('../img/Lead-bg.png') no-repeat center;
		background-size: cover;
	}
	.general__lead span {
		position: absolute;
		top: 65px;
		right: 6px;
		font-size: 27px;
		font-weight: 400;
		color: #fff;
	}
	.general__reg {
		grid-area: 1 / 2 / 2 / 3;
		background: linear-gradient(170deg, #272727 30%, rgb(255, 213, 0) 300%);
	}
	.general__l2r {
		grid-area: 3 / 1 / 4 / 2;
		height: 26px;
		width: 101px;
	}
	.general__reg span {
		position: absolute;
		color: #ffe500;
		font-size: 16px;
		font-weight: 400;
		top: 15px;
		right: 10px;
	}
	.general__deps span {
		position: absolute;
		color: #00ff39;
		font-size: 16px;
		font-weight: 400;
		top: 15px;
		right: 10px;
	}
	.general__medium--span {
		position: absolute;
		font-size: 13px;
		color: #fff;
		top: 23px;
		right: 9px;
	}
	.general__little--span {
		color: #fff;
		font-size: 13px;
		position: absolute;
		top: 14px;
		right: 10px;
		font-weight: 400;
	}
	.general__deps {
		grid-area: 2 / 2 / 3 / 3;
		background: linear-gradient(170deg, #272727 30%, #03ec36 300%);
	}
	.general__cons {
		grid-area: 1 / 3 / 2 / 4;
	}
	.general__roi {
		grid-area: 2 / 3 / 3 / 4;
	}
	.general__l2d {
		grid-area: 3 / 2 / 4 / 3;
		height: 26px;
	}
	.general__r2d {
		grid-area: 3 / 3 / 4 / 4;
		height: 26px;
	}
	.general__income {
		grid-area: 4 / 1 / 5 / 4;
		border-radius: 11px;
		background: linear-gradient(
			170deg,
			rgba(39, 39, 39, 0) 10%,
			rgba(96, 121, 250, 0.233) 70.42%
		);
		padding: 5px 7px;
		font-size: 12px;
		margin-bottom: 23px;
		position: relative;
		height: 53px;
	}
	.general__income span {
		position: absolute;
		font-size: 25px;
		top: 25px;
		right: 10px;
	}
	/* Bots page */
	/* Bots page */
	/* Bots page */
	/* Bots page */
	/* Bots page */
	table.iksweb {
		display: inline-table;
		width: 100%;
		text-align: left;
	}
	table.iksweb thead {
		width: 100%;
		height: 70px;
		padding-bottom: 40px;
	}
	table.iksweb th {
		font-weight: normal;
		font-size: 18px;
		color: #858585;
	}
	table.iksweb td {
		font-size: 14px;
		color: #fff;
	}
	table.iksweb td,
	table.iksweb th {
		padding: 20px 5px;
		padding-left: 30px;
		line-height: 15px;
		text-align: left;
		vertical-align: middle;
		border: 0px solid #354251;
	}
	table.iksweb tr {
		border-bottom: 1px solid #ffffff23;
	}
	table.iksweb tr:hover {
		background-color: #f9fafb23;
	}
	.mobile-table {
		margin: 0 40px;
		border-radius: 20px 20px 0 0;
		background: linear-gradient(
			180deg,
			rgba(27, 26, 26, 0.5) 0%,
			rgba(45, 45, 45, 0) 100%
		);
		max-width: 100%;
		overflow-x: auto;
	}
	main {
		margin-top: 132px;
	}
	.general__blocks {
		margin: 0 auto;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.auth {
		background-color: #000;
	}
	.auth__inner {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.auth__box {
		display: flex;
		flex-direction: column;
	}
	.auth__logo {
		width: 74px;
		height: 27px;
		margin: 0 auto;
		margin-bottom: 14px;
	}
	.auth__title {
		text-transform: uppercase;
		font-size: 15px;
		margin-bottom: 32px;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
	}
	.auth__input {
		padding: 10px 24px;
		font-size: 20px;
		width: 255px;
		margin-bottom: 17px;
		border-radius: 27px;
		background-color: #141414;
		outline: none;
		border: none;
		color: #fff;
	}
	.auth__input::placeholder {
		color: rgba(118, 118, 118, 0.5);
		font-family: Lato;
		font-size: 20px;
	}
	.auth__input--wrong {
		border: 1px solid #6c0000;
		border-radius: 27px;
		background: #1d1111;
	}
	.input-el {
		position: relative;
	}
	.input-el::after {
		content: 'Not found';
		position: absolute;
		width: 90px;
		height: 20px;
		color: #ff0101;
		font-size: 14px;
		font-weight: 400;
		right: 5px;
		top: 15px;
	}
	.auth__link {
		color: #0147ff;
		margin-top: 13px;
		font-size: 14px;
		text-decoration-line: underline;
	}
	.auth__btn {
		padding: 10px 24px;
		background-color: #0147ff;
		border-radius: 27px;
		font-size: 20px;
		margin-top: 20px;
		color: #fff;
	}
	.logout {
		display: none;
	}
}
@media (min-width: 800px) {
	.header__top {
		justify-content: flex-start;
		margin-bottom: 0;
	}
	.header__inner {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.header__info {
		margin-right: 250px;
		font-size: 16px;
	}
	.header__text {
		margin-right: 30px;
	}
	.logout {
		display: block;
	}
	.logout--link {
		display: none;
	}
	main {
		margin-top: 0;
	}
	.general__blocks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 0;
		grid-gap: 30px;
		padding: 0 30px;
	}
	.boorger {
		display: none;
	}
	.header__list {
		display: flex;
		top: 0;
		position: relative;
		background-color: transparent;
		height: auto;
		justify-content: space-between;
		width: auto;
	}
	.header__list-item {
		margin: 0 15px;
		position: static;
		color: rgba(255, 255, 255, 0.3);
	}
	.header__list-link--active li {
		color: #fff;
	}
	.header__list-item::before {
		display: none;
	}
	.header {
		position: static;
		margin-bottom: 50px;
	}
	.header__info {
		border: none;
		font-size: 15px;
	}
	table.iksweb th {
		font-size: 25px;
	}
	table.iksweb td {
		font-size: 16px;
	}
	.form__input {
		font-size: 16px;
		padding: 4px 16px;
		width: 80px;
	}
	.form__select {
		height: 36px;
		padding: 8px 20px;
		font-size: 16px;
	}
	.form__input::placeholder {
		font-size: 16px;
	}
	.general__title {
		font-size: 20px;
	}
	.general__blocks {
		display: flex;
		flex-direction: column;
	}
	.general {
		min-width: 100%;
	}
	.general__box--visible {
		display: flex;
		align-items: center;
	}
	.general__box.active {
		display: flex !important;
		align-items: center;
	}
	.general__lead {
		width: 370px;
		font-size: 20px;
		height: 85px;
	}
	.general__lead span {
		font-size: 30px;
		top: 55px;
	}
	.general__income {
		width: 370px;
		font-size: 20px;
		height: 83px;
		margin: 0;
	}
	.general__income span {
		font-weight: 400;
		top: 50px;
		font-size: 30px;
	}
	.general__roi,
	.general__l2d,
	.general__reg,
	.general__deps,
	.general__cons,
	.general__roi,
	.general__l2r,
	.general__r2d {
		width: 205px;
		height: 85px;
		margin: 0 2px;
		font-size: 16px;
	}
	.general__roi span,
	.general__l2d span,
	.general__reg span,
	.general__deps span,
	.general__cons span,
	.general__roi span,
	.general__l2r span,
	.general__r2d span {
		top: 60px;
		font-size: 20px;
		font-weight: 400;
	}
}
@media (min-width: 1240px) {
	.header__info {
		width: 85px;
		font-size: 16px;
	}
	.header__info-img {
		max-width: 20px;
		max-height: 20px;
	}
}
