html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background-color: #000;
	font-family: 'Lato', sans-serif;
}
/*    */
@media (min-width: 375px) {
	/* main page */
	/* main page */
	/* main page */
	.container {
		margin: 0 auto;
		padding: 0 26px;
	}
	.header {
		z-index: 10;
		position: fixed;
		top: 0;
		width: 100%;
		padding-top: 27px;
		background: linear-gradient(180deg, #000 80%, rgba(0, 0, 0, 0) 100%);
	}
	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 27px;
	}
	.header__box {
		display: flex;
		align-items: center;
	}
	.header__img {
		width: 35px;
		height: 13px;
		margin-right: 7px;
	}
	.header__text {
		color: #fff;
		font-size: 14px;
	}
	.header__info {
		width: 57px;
		padding: 3px 8px;
		border: 1px solid #686868;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 11px;
	}
	.header__info-text {
		color: #686868;
	}
	.header__info-text--green {
		color: #00ff38;
	}
	.header__info-img {
		max-width: 10px;
	}
	.boorger {
		float: right;
		margin-left: 12px;
	}
	.boorger a {
		display: inline-block;
		position: relative;
		z-index: 100;
		width: 20px;
		height: 20px;
	}
	.boorger a span {
		display: block;
		transition: all 0.4s;
		width: 100%;
		height: 1px;
		margin-top: 5px;
		background-color: #fff;
	}
	.header__list {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.9);
		width: 100%;
		height: 100vh;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -200vh;
		transition: all 0.5s;
	}
	.boorger a.active span:nth-child(1) {
		transform-origin: left top;
		transform: rotate(45deg);
		margin-top: 3px;
	}
	.boorger a.active span:nth-child(2) {
		transform-origin: left bottom;
		transform: rotate(-45deg);
		margin: 13px 0;
	}
	.header__list.active {
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 5;
	}
	.header__list-item {
		display: block;
		position: relative;
		font-size: 22px;
		color: #fff;
		margin-bottom: 20px;
		overflow: hidden;
		transition: all 0.4s;
		padding-bottom: 5px;
	}
	.header__list-item::before {
		content: '';
		display: inline-block;
		height: 2px;
		background-color: #fff;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: -100%;
		transition: all 0.4s;
	}
	.header__list-item:hover::before {
		left: 0;
	}
	.form {
		margin-bottom: 30px;
	}
	.form__inner {
		display: flex;
		align-items: center;
	}
	.form__input {
		width: 66px;
		height: 28.548px;
		border-radius: 66px;
		border: none;
		background: #272727;
		color: #fff;
		text-align: center;
		margin-right: 5px;
		font-size: 11px;
	}
	.form__input::placeholder {
		color: #fff;
		font-size: 11px;
	}
	.form__img {
		margin-right: 5px;
	}
	.form__select {
		width: 125px;
		height: 29px;
		font-size: 11px;
		border-radius: 66px;
		background: #272727;
		color: #fff;
		padding: 7px 12px;
		border: none;
		outline: none;
		display: inline-block;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-right: 10px;
	}
	.form__btn {
		border: none;
		width: 36px;
		height: 29px;
		background-color: #0047ff;
		border-radius: 30px;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
		cursor: pointer;
	}
	.form__img--2 {
		margin: 0;
	}
	.form__btn:hover {
		background-color: #002890;
	}
	.general {
		color: #fff;
		border-radius: 26px 26px 37px 37px;
		background: linear-gradient(180deg, #1b1a1a 0%, rgba(45, 45, 45, 0) 36.46%);
		padding-top: 16px;
		margin: 0 12px;
		max-width: 365px;
	}
	.general__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}
	.general__title {
		font-size: 20px;
		font-weight: 600;
	}
	.general__box {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		grid-gap: 6px;
		font-weight: 600;
	}
	.general__box-content {
		color: #959595;
		width: 80px;
		height: 35px;
		border-radius: 10px;
		font-size: 13px;
		padding: 4px 7px;
		background: #272727;
		position: relative;
	}
	.general__lead {
		grid-area: 1 / 1 / 3 / 2;
		width: 101px;
		height: 86px;
		background: url('../img/Lead-bg.png') no-repeat center;
		background-size: cover;
	}
	.general__lead span {
		position: absolute;
		top: 65px;
		right: 6px;
		font-size: 27px;
		font-weight: 400;
		color: #fff;
	}
	.general__l2r {
		grid-area: 3 / 1 / 4 / 2;
		height: 26px;
		width: 101px;
	}
	.general__reg {
		grid-area: 1 / 2 / 2 / 3;
		background: linear-gradient(170deg, #272727 30%, rgb(255, 213, 0) 300%);
	}
	.general__reg span {
		position: absolute;
		color: #ffe500;
		font-size: 16px;
		font-weight: 400;
		top: 15px;
		right: 10px;
	}
	.general__deps span {
		position: absolute;
		color: #00ff39;
		font-size: 16px;
		font-weight: 400;
		top: 15px;
		right: 10px;
	}
	.general__medium--span {
		position: absolute;
		font-size: 13px;
		color: #fff;
		top: 23px;
		right: 9px;
	}
	.general__little--span {
		color: #fff;
		font-size: 13px;
		position: absolute;
		top: 14px;
		right: 10px;
		font-weight: 400;
	}
	.general__deps {
		grid-area: 2 / 2 / 3 / 3;
		background: linear-gradient(170deg, #272727 30%, #03ec36 300%);
	}
	.general__cons {
		grid-area: 1 / 3 / 2 / 4;
	}
	.general__roi {
		grid-area: 2 / 3 / 3 / 4;
	}
	.general__l2d {
		grid-area: 3 / 2 / 4 / 3;
		height: 26px;
	}
	.general__r2d {
		grid-area: 3 / 3 / 4 / 4;
		height: 26px;
	}
	.general__income {
		width: 100%;
		border-radius: 11px;
		background: #0047ff;
		height: 43px;
		padding: 5px 7px;
		font-size: 12px;
		margin-bottom: 23px;
		position: relative;
		max-width: 300px;
	}
	.general__income span {
		position: absolute;
		font-size: 25px;
		top: 25px;
		right: 10px;
	}
	main {
		margin-bottom: 40px;
		margin-top: 132px;
	}
	/* Bots page */
	/* Bots page */
	/* Bots page */
	/* Bots page */
	/* Bots page */
	.bots {
		color: #fff;
	}
	.bots__name {
		display: flex;
		justify-content: space-between;
		padding: 0 25px;
		padding-bottom: 16px;
		border-bottom: 1px solid #fff;
		font-size: 20px;
		font-weight: 600;
	}
	.bots__box {
		padding: 13px 25px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
	}
	.bots__box:nth-child(odd) {
		color: #00ff38;
	}
}
